.body{
  margin: 25px 25px;
  background-color: gray;
  border-radius: 6px;
  padding: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card{
  width: 300px;
  padding: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
  background: rgb(154, 188, 221, 0.1)
}

.card:hover{
  background-color: rgb(0, 0, 0);
  color: white;
  transition: all .3s ease-in-out;
}

#img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#text{
  padding: 5px;
}

form{
  margin: 25px
}

h1{
  margin: 25px;
}

.btn{
  padding: 5px;
  margin: 10px 5px;
  background-color: rgba(128, 128, 128, 0.158);
}

.card-details{
  margin:5px 25px;
}

.card-details > * {
  margin: 5px
}

.stats{
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.stats > * {
  margin: 5px;
}

