.card{
  width: 300px;
  padding: 20px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 20px;
  margin: 20px;
  background: rgb(154, 188, 221, 0.1)
}

#img{
  width: 100px;
  height: 100px;
  margin: 5px;
  border-radius: 50%;
}

.card-details{
  margin:5px 25px;
}

.card-details > * {
  margin: 5px
}

.stats{
  margin: 5px;
  display: flex;
  flex-direction: row;
}

.stats > * {
  margin: 5px;
}

